*{
    box-sizing: border-box;
}


.over{
	 
	 margin: 0;
     border:3px solid cornflowerblue;
}

#head{
/*    background-color: #75cfb8;*/
    color: #1687a7;
    font-family: "Optima";
}

body {
    display: inline-block;
    text-align: center;
    background-color: #ece2e1;
    width:100%;
    
    
}
.btn{
    margin-right: 150px;
    margin-bottom: 20px;
    
}

input{
    border-color: white;
    border-radius: 10px;
    height: 30px;
}
.container{
    display: inline-grid;
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px;
    background-color: lightgray;
    text-align: center;
/*    padding: 2px 2px;*/
    justify-content: center;
    grid-gap: 2px;
    margin: 10px;
    text-align: center;
    
}

.explanation{
    text-align: left;
    margin-left: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}
.cell {
  display: inline-grid;
  width:30px;
  height: 30px;
    
/*
    border-left : 1px solid rgba(0, 0, 0, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.8);
*/
}
.content{
   width:30px;
  height: 30px; 
}

.corner1{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #ece2e1;
}


.corner2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 8;
    background-color: #ece2e1;
/*    border-left : 1px solid rgba(0, 0, 0, 0.8);*/
}

.corner3{
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #ece2e1;
/*    border-top : 1px solid rgba(0, 0, 0, 0.8);*/
}
.corner4{
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 6;
    grid-column-end: 8;
    background-color: #ece2e1;
/*    border-top : 1px solid rgba(0, 0, 0, 0.8);*/
/*    border-left : 1px solid rgba(0, 0, 0, 0.8);*/
}
/*

.up{
    
    box-sizing: content-box;
    box-sizing: unset;
    border-top: 2px solid lightgray;

}

.right {
    
    box-sizing: content-box;
    box-sizing: unset;
    border-right: 2px solid lightgray;

}

.down {
    
    box-sizing: content-box;
    box-sizing: unset;
    border-bottom: 2px solid lightgray;

}


.left {
    
    box-sizing: content-box;
    box-sizing: unset;
    border-left: 2px solid lightgray;

}*/
